.nav-container {
  width: 100vw;
  height: 70px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-container-left {
  display: flex;
  align-items: center;
}

.lecture-link {
  height: 70px;
}

.nav-container-center {
  display: flex;
}

.search-input {
  width: 300px;
  margin: 0;
}

.nav-container-right {
  display: flex;
  align-items: center;
}

.user-guide {
  color: #666;
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: -0.96px;
  margin-right: 19px;
  cursor: pointer;
}

.schedule {
  color: #666;
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: -0.96px;
  cursor: pointer;
  position: relative;
}

.star {
  display: flex;
  align-items: center;
}

.user-guide img {
  margin: 7px;
}

.schedule img {
  margin: 0 10px 3px;
}

.menu {
  display: flex;
  width: 149px;
  padding: 18px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.menu span {
  color: #000;
  font-family: NanumGothic;
  font-size: 18px;
}

.nav-link {
  color: #000;
  font-family: Noto Sans KR;
  font-size: 18px;
  font-weight: 500;
}

.nav-link:hover {
  color: #41a24b;
}

.selected {
  color: #41a24b;
  border-bottom: 2px solid #41a24b;
}

.nav-top {
  width: 100vw;
  max-width: 1200px;
  margin: 36px auto 28px;
  display: flex;
  justify-content: space-between;
}

.nav-top-left {
  display: flex;
  align-items: center;
}

.search-input {
  height: 36px;
  border-radius: 40px;
  border: 1px solid #d9d9d9;
  outline: none;
  padding-left: 12px;
}

.navbar {
  border-top: 1px solid #e0e0e0;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e0e0e0;
}

.navbar-brand {
  color: #41a24b;
  font-family: NanumGothic;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.brand-left {
  color: #41a24b;
  font-family: Gmarket Sans;
  font-size: 24px;
}

.brand-right {
  color: #324a34;
  font-family: Gmarket Sans;
  font-size: 24px;
  font-weight: 600;
}

.search-icon {
  display: flex;
  padding: 11px 14px;
  margin-left: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 99px;
  background: #41a24b;
  cursor: pointer;
}

.nav-top-right {
  display: flex;
  align-items: center;
}

.nickname {
  cursor: pointer;
  position: relative;
}

.nickname-text {
  color: #313131;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.333px;
  margin: 0 12px 0 14px;
}

.user-box {
  position: absolute;
  top: 42px;
  left: 10px;
  width: 115px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12px;
}

.mypage {
  color: #1a1a1a;
  font-family: Noto Sans KR;
  font-size: 12px;
  letter-spacing: -0.333px;
}

.logout {
  color: #e95d5d;
  font-family: Noto Sans KR;
  font-size: 12px;
  letter-spacing: -0.333px;
}

.login,
.registerBtn {
  color: #666;
  font-family: NanumGothic;
  font-size: 14px;
  cursor: pointer;
}

.divider {
  color: #666;
  font-family: NanumGothic;
  font-size: 14px;
  margin: 0 12px;
}

.register {
  margin: 0 11px 0 0;
  color: #9f9f9f;
  font-family: NanumGothic;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.register:hover,
.login:hover {
  color: #9f9f9f;
  text-decoration: none;
}

.tutor {
  display: flex;
  width: 153px;
  height: 28px;
  padding: 0px 19px;
  justify-content: center;
  align-items: center;
  border-radius: 59px;
  background: #ebffd7;
  color: #178122;
  font-family: Inter;
  font-size: 0.6vw;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.96px;
  cursor: pointer;
}

.sub-lecture-container {
  position: absolute;
  width: 100%;
  top: 71px;
  display: flex;
  height: 254px;
  margin: 0 auto;
  padding: 0 15vw;
  background-color: white;
  justify-content: center;
  border-bottom: 1px solid #e0e0e0;
  z-index: 100;
}

.lecture,
.foundation,
.employment,
.hobby,
.school-learning,
.university {
  width: 15%;
  /* width: fit-content; */
  padding: 37px 20px 0px 20px;
  border-right: 1px solid #e0e0e0;
}

.lecture-text {
  color: #7e7e7e;
  font-size: 12px;
  margin-top: 12px;
  font-weight: 350;
}

.category-title {
  font-weight: 500;
}

.category-list {
  color: #848484;
  margin: 10px 0;
}

.category-list:hover {
  color: #41a24b;
  cursor: pointer;
}

@media (min-width: 1300px) {
  .nav-container {
    width: 100vw;
  }
}

@media (max-width: 1300px) {
  .nav-container {
    width: 100vw;
    padding: 0 30px;
  }

  .nav-top {
    margin: 36px auto 28px;
    padding: 0 30px;
  }
}

@media (max-width: 1200px) {
  .sub-lecture-container {
    padding: 0;
    min-width: 650px;
  }
}

@media (max-width: 700px) {
  .nav-top {
    display: block;
  }
  .nav-top-left {
    justify-content: center;
    margin: 20px 0;
  }
  .nav-top-right {
    justify-content: center;
  }
  .nav-container {
    display: flex;
  }
  .nav-link {
    font-size: 12px;
  }
  .schedule {
    font-size: 12px;
  }
  .schedule {
    position: relative;
    right: 0;
  }
}

@media (max-width: 400px) {
  .nav-container {
    display: flex;
    flex-direction: column;
  }
  .navbar-brand {
    position: relative;
    left: 20px;
  }

  .nav-top-left {
    display: flex;
    position: relative;
    right: 10px;
  }
  .nav-top-left input {
    margin: 10px auto;
  }
  .search-input {
    display: flex;
    justify-content: center;
    width: 80vw;
  }
  .nav-link {
    margin-top: 10px;
  }
}

@media (max-width: 375px) {
  .nav-top-left {
    display: block;
  }
  .search-icon {
    display: inline;
  }
  .search-input {
    display: inline-block;
    width: 70vw;
  }
  .nav-top-left {
    width: 94vw;
  }
}
