.layout {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
}


.tool {
    border-right: 1px solid #dfdfdf;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tool button {
    border-radius: 999px;
    background-color: #fff;
    border: none;
    width: 42px;
    height: 42px;
    margin-bottom: 10px;
}


.tool > .tool-box {
    padding: 20px 10px;
}



#view_area {
    overflow-y: scroll;
    width: 100%;
}